<div ng-controller="DivesController as vm">
  <h1><a ui-sref="dives">Dives</a></h1>
  <input type="text" ng-model="buddy" placeholder="Filter by buddy"><br>
  <a ui-sref="dives.new">Add New Entry</a>

  <div ng-repeat="dive in vm.dives | filter:buddy">
    <a ui-sref="dives.detail({ id: dive.id })">Dive No. {{ dive.dive_number }} - Date: {{ dive.date | date:'longDate' }}</a>
  </div>

  <div>
    <ul class="pagination">
      <li ng-if="vm.page > 0">
        <a href="" ng-click="vm.lastPage()">Previous <<</a>
      </li>
      <li ng-if="vm.page < vm.totalPages - 1">
        <a href="" ng-click="vm.nextPage()"> >> Next</a>
      </li>
    </ul>
  </div>

  <hr>

  <div class="divesDetails">
    <ui-view></ui-view>
  </div>
</div>
